<div class="card w-50  border mt-4">
  <header class="mb-6 card-header bg-primary text-white card-header-title text">
    
        <div class="column p-2">
            <p class=" has-text-primary-light"></p>
      <h2>{{title}}</h2>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="p-3">
        <div class="content has-text-justified">
            {{body}}
            <br>
            <b>By: {{user.name}}</b> 
        </div>
                <p {{comments.length}} {{format_plural "comment" comments.length}}></p>
    </div>